.navbar {
    padding: 10px 0 !important;
}

.navbar-section {
    background-color: white;
}

.home-logo {
    width: 60px;
}

.navbar-brand {
    padding: 0px, 0px !important;
}

.navbar-toggler {
    width: 47px;
    border: none;
}

.navbar-toggler .line {
    float: left;
    width: 100%;
    height: 2px;
    background-color: #E21D00;
    margin-bottom: 5px;
}

.blue-btn-nav {
    background: #56CCF2;
    border-radius: 8px;
    opacity: 1;
    padding: 10px 20px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}

.blue-btn-nav:hover {
    color: white;
}

.notify {
    position: relative;
}

.drop-down-option {
    cursor: pointer;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submenu {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: 180px;
    border: 0.5px solid #4E4D4D;
    right: 10px;
    top: 50px;
    cursor: pointer;
    list-style-type: none;
    z-index:999;
}

.drop-down-option:focus+.submenu,
.submenu:hover {
    display: block;
}

.avatar-icon img {
    width:40px;
    height:40px;
}

.navmenu{
    font-weight: 500;
font-size: 14px;
line-height: 24px;
}