@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  height: 100vh;
  width: 100vw;
}

.span h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #319114;
  font-size: 124px;
  letter-spacing: 15px;
  cursor: pointer;
}

.span h1::before {
  content: "theTechBoi.nugagee";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 3s;
}

.span h1::after {
  content: "theTechBoi.nugagee";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 3s;
}

.span h1:hover:before {
  top: 20px;
  left: 20px;
}

.span h1:hover:after {
  top: -20px;
  left: -20px;
} 

